html, body{
    padding:0;
    margin:0;
    overflow-x:hidden;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --main-teal-color:#2b7b87;
    --main-complimentary-color:#93003a;
    --secondary-complimentary-color:#d46c59;
    --main-animation-timing:500ms;
    --main-animation-timing-function: ease-out;
}

/*General *****************************************************************************************************/
.flex{
    display:flex;
    width:100%;
}
.overflow-hidden{
    overflow:hidden;
}
#Background{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
    font-size:54px;
    color:var(--main-teal-color);
    flex-direction: column;

    letter-spacing: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
#Name, #Occupation{
    opacity: 0.5 !important;
    font-weight:bold;
}
.section-title{
    width: 100%;
    height: 75px;
    text-align:center;
    background:var(--main-teal-color);
    color:#fff;
    padding-top:10px;
    letter-spacing: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mt-75{
    margin-top:75px;
}

/*Header *****************************************************************************************************/
#Header{
    position:fixed;
    width:100%;
    z-index: 1001;
    background: rgba(0,0,0,0.75);
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width:100%;
    margin:0 25px;
}

nav a{
    color:#fff;
    letter-spacing: 2px;
}

nav a:hover{
    color: rgba(255,255,255,0.5);
}

.nav-link.active{
    color: var(--secondary-complimentary-color);
    font-weight:bold;
}

#MobileButton, #MobileClose, #MobileMenu{
    display:none;
    z-index:999;
    color:#fff;
}

#MobileMenu{
    border-top:1px solid #000;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    position: fixed;
    top:75px;
    background:rgba(0,0,0,0.75);
}

#MobileMenu a{
    color:#fff;
}



/*Canvas *****************************************************************************************************/
#CanvasWrapper{
    width:100vw;
    height:100vh;
    position:absolute;
    z-index: 997;
}
#CanvasOverlay{
    position:absolute;
    height:100vh;
    left:-6px;
    right:0;
    z-index: 998;
    display: none;
}



/*About *****************************************************************************************************/
#About{
    width:100vw;
    justify-content: center;
    margin-top:100vh;
    text-align:center;
    background:#fff;
}
.about-image img{
    max-height:100%;
    max-width:100%;
}
#AboutWrapper{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.github-link{
    background-image: url('../img/github-mark.svg');
    background-position: center;
    background-size:25px;
    background-repeat: no-repeat;
    width:50px;
    height:30px;
    border:1px solid var(--main-teal-color);
    border-radius: 5px;
    cursor:pointer;
}
.github-link:hover{
    background-image: url('../img/github-mark-white.svg');
    background-color: var(--main-teal-color);
    border:1px solid var(--main-teal-color);
}

.skills-section{
    position: relative;
    width: 50px;
}

.skills-section{
    cursor:pointer;
    width: 50px;
}

.skills-info{
    display:none;
    background: var(--main-teal-color);
    color:#9bc0c5;
    opacity:0.5;
    position:absolute;
    top:25px;
    left:25px;
    transition: display 100ms var(--main-animation-timing-function);
    padding:25px;
    border-radius:5px;
    width:50vw;
}

.skills-info.hover{
    display:block;
}

/*Projects *****************************************************************************************************/
#Projects{
    min-height:50vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background:#fff;
    padding-bottom:50px;
}
#Projects .section-title{
    margin-top:-1px; /*temp fix for scrolling alignment*/
}

.project-info .flex{
    flex-direction:row;
    text-align:center;
    align-items:center;
    justify-content: center;
    min-height:100%;
}

.project-wrapper{
    overflow: hidden;
    height:100%;
    padding:0;
    border-radius:10px;
    box-shadow: 0px 0px 25px -5px var(--main-teal-color);
    cursor: pointer;
    margin-left:15px;
    margin-right:15px;
    transition: box-shadow var(--main-animation-timing) var(--main-animation-timing-function);
}

.project-wrapper:hover{
    box-shadow: 0px 0px 40px -5px var(--main-teal-color);
}

.project-info{
    padding:0;
    overflow: hidden;
    transform: scale(100%);
    transition: transform var(--main-animation-timing) var(--main-animation-timing-function);
}

.project-info:hover{
    transform: scale(105%);
}

.project-info h4{
    color:var(--main-complimentary-color);
    font-weight:bold;
    transition: color var(--main-animation-timing) var(--main-animation-timing-function);
}

.project-info:hover h4{
    color: var(--secondary-complimentary-color);
}

.project-info h4{
    position: relative;
}

.project-info video, .project-info img{
    width:100%;
}

.project-info-text{
    padding:10px 20px;
}

.project-info .github-icon{
    background-image: url('../img/github-mark.svg');
    background-position: center;
    background-size:25px;
    background-repeat: no-repeat;
    width:50px;
    height:30px;
    position: absolute;
    top:0;
    right:0;
    border-radius: 5px;
}
.project-info .github-icon:hover{
    background-image: url('../img/github-mark-white.svg');
    background-color: var(--main-teal-color);
}

.project-skills{
    width:100%;
    margin-bottom:10px;
}
.project-skill-item{
    background:var(--main-teal-color);
    color: #fff;
    display:inline-block;
    border-radius:10px;
    padding:5px 15px;
    margin:2px;
}

/*Mobile *****************************************************************************************************/
@media (max-width:992px) {
    .navbar{
        height:55px;
    }
    .navbar-brand{
        padding-left:15px;
    }
    #Header a{
        font-size: 1rem;
    }
    #MobileButton{
        display:block;
    }
    #MobileButton, #MobileClose{
        padding-right:15px;
    }
    #Name{
        top: 49%;
        font-size: 30px;
        letter-spacing: 5px;
    }
    #Occupation{
         font-size: 30px;
         letter-spacing: 5px;
     }
    #Skills{
        min-height:150vh;
        height:auto;
    }
    #Skills .section-title{
        margin-bottom:25px;
    }
    #About{
        min-height:100vh;
    }
    #Projects{
        min-height:100vh;
    }
    #Contact{
        height:50vh;
    }
    #ContactInfo{
    }

    .about-image{
        margin-bottom:100px;
        width:100%;
        margin-top:25px;
    }
    .skill-section-wrapper{
        margin-bottom:15px;
        margin-top:15px;
    }
}



